{% extends 'base.html.twig' %}

{% block body %}
    <p> lien </p>
    <ul>
        <li> <a href="{{ path('registration_index', {'role': 'ecole'}) }}">Ecole </a></li>
        <li> <a href="{{ path('registration_index', {'role': 'etudiant'}) }}" > Etudiant </a></li>
        <li> <a href="{{ path('registration_index', {'role': 'entreprise'}) }}" > Entreprise </a></li>
    </ul>
{% endblock %}
