{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/styles/index.css">
{% endblock %}

{% block body %}
<div class="blue-stripe">
    <h2 class="text-center">
        Se créer un compte :
    </h2>
    <div class="box-btn">
        <div class="btn-insc"><button type="button" href="" class="btn btn-primary btn-lg btn-block shadow">Etudiant</button></div>
        <div class="btn-insc"><button type="button" href="" class="btn btn-primary btn-lg btn-block shadow">Formation</button></div>
        <div class="btn-insc"><button type="button" href="" class="btn btn-primary btn-lg btn-block shadow">Entreprise</button></div>
    </div>
</div>
{% endblock %}