{% extends 'base.html.twig' %}

{% block body %}
	<h1>Inscription sur le site</h1>
	{{ form_start(form) }}
    {{ form_widget(form) }}
	<button type="submit" class="btn">Etape suivante</button>
	{{ form_end(form) }}
{% endblock %}
