{% block aside %}
    <div class="sidebar d-none d-lg-block pt-3 sidebar-container position-sticky">


        <div class="img-logo"
             style="background-image: url(http://www.resonancecommunication.com/wp-content/uploads/2014/07/logo-pro.jpg);">
        </div>

        <ul class="list-unstyled list-inline nav-contain">
              <!-- décomenter le twig pour mettre en place les routes -->
              <!-- tableau dynamique -->
            {% set links = [
                {'title': 'Mon profil entreprise', 'path': '#'},
                {'title': 'Créer une offre', 'path': '#'},
                {'title': 'Voir mes offres', 'path': '#'},
                {'title': 'Consulter mes candidature', 'path': '#'},
            ] %}
            {% for link in links %}
                <li class="text-decoration-none btn-primary
                 {# {{ app.request.pathinfo == path(link.path) ? 'activelink' }} #}">
                    <a class="text-decoration-none "
                       href="{# {{ path(link.path) }} #}">{{ link.title }}</a>
                </li>
            {% endfor %}


        </ul>

    </div>
{% endblock %}

