{% block header %}

<nav class="navbar-head navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel" >
            <div class="offcanvas-header align-items-start">
                <img class="image logo ms-auto" src="{{ asset('build/images/logofinal.png') }}" alt=""/>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav align-items-lg-center w-100">
                        <li class="nav-item ms-lg-auto ms-2 mb-3 mb-lg-0">
                            <a class="btn press w-100" href="#"> <i class="fas fa-user"></i>Offres</a>
                        </li>

                    {% if app.user %}
                    <li class="nav-item ms-2 h-100">
                        <a type="button" class="btn press w-100 " href="{{ path('app_logout') }}"> Se déconnecter</a>
                    </li>
                    {% else %}
                    <li class="nav-item ms-2 h-100">
                        <a type="button" class="btn press w-100 "href="{{ path('login') }}"> Se connecter</a>
                    </li>
                    {% endif %}
                        <img class="image world" src="{{ asset('build/images/logofinal.png') }}" alt=""/>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
