{% extends 'base.html.twig' %}

{% block title %}Edit Content{% endblock %}

{% block body %}
    <h1>Edit Content</h1>

    {{ include('admin/admin_content/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_content_index') }}">back to list</a>

    {{ include('admin/admin_content/_delete_form.html.twig') }}
{% endblock %}
