{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminStatisticController!{% endblock %}

{% block body %}


    <div class="text-center w-50 mx-auto">
        <h1> Utilisateurs : </h1>
        {{ render_chart(chart) }}
    </div>

{% endblock %}
