@import 'variables';



.nav-pills {
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: space-between;
}

.view.btn {
    color: white;
}

.application-button.btn.btn-primary {
    color: white;
    font-size: $btn-font-size;
    border-radius: $border-radius;
    width: auto;
    height: auto;

    &.active {
        color: white;
        font-size: $btn-font-size;
        border-radius: $border-radius;
        width: auto;
        background-color: $success;
        border: none;
        height: auto;
    }
}

.comp-picture {
    top: -7vh;
    left: 5rem;
    height: 14vh;
}



