@import 'variables';

.nav-pills {
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: space-between;
}



.btn-primary {
    color: white;
    font-size: $btn-font-size;
}

.comp-picture {
    top: -7vh;
    left: 5rem;
    height: 14vh;
}



