.etape {
      background-color: darkgrey;
      width: 100%;
      text-align: center;
      border-radius: 10px;
}

.active {
      background-color: cadetblue;
}

.etape-container {

    width:100%;
    padding-left: 0px;
}

.form-container {
    margin: auto;
    width: 500px;
}

.background {
background-color: #B0413E;
width: 100%;
 margin:auto;
 padding: 20px;
}
