.form-container {
    background-color: $gray;
    border: .063rem solid $primary;
    border-radius: $border-radius;
    min-width: 23.75rem;
    padding: 2.007rem 2.007rem 0.1rem;
}

ul {
    .active {
        background-color: $primary;
        border: 2px solid $primary;
        border-radius: 50%;
        color: $black;
        height: 50px;
        padding-top: $border-radius;
        vertical-align: top;
        width: 50px;
    }
}

.etape {
    border: 2px solid $primary;
    border-radius: 50%;
    color: $black;
    height: 2.5rem;
    padding-top: 0.25rem;
    vertical-align: top;
    width: 2.5rem;
}

div {
    .etape-container {
        .etape1 {
            background-color: transparent;
            border: 2px solid $primary;
            border-radius: 50%;
            color: $black;
            height: 2.5rem;
            padding-top: .313rem;
            vertical-align: top;
            width: 2.5rem;
        }
    }
}

.trait {
    background-color: $primary;
    height: .125rem;
    width: 3.125rem;
}

.etape-container {
    width: 11.25rem;
}

.form-register {
    max-width: 29.375rem;
}

.form-btn {
    min-width: 8.938rem;
}

.form-titre {
    white-space: nowrap;
}

.head-container {
    flex-direction: row-reverse;
}

@media (max-width: 992px) {
    .head-container {
        flex-direction: column-reverse;
    }
}

