.wrapper.fadeInDown {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 1.25rem;
}

.formContent {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    padding: 1.875rem;
    width: 90%;
    max-width: 28.125rem;
    position: relative;
    padding: 0;
    -webkit-box-shadow: 0 1.875rem 3.75rem 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1.875rem 3.75rem 0 rgba(0, 0, 0, 0.9);
    text-align: center;
}

.fadeIn.fourth {
    font-size: 1rem;
}

.input-login {
    background-color: #ffc803;
    border: none;
    color: white;
    padding: 0.938rem 5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.813rem;
    -webkit-box-shadow: 0 0.625rem 1.875rem 0 rgba(58, 58, 58, 0.2);
    box-shadow: 0 0.625rem 1.875rem 0 rgba(140, 137, 84, 0.3);
    -webkit-border-radius: $border-radius;
    border-radius: $border-radius;
    margin: 0.313rem 1.25rem 2.5rem 1.25rem;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.input-login:hover  {


}

.input-login {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.input-login {
    background-color: rgba(145, 144, 144, 0.52);
    border: none;
    color: #0d0d0d;
    padding: 0.938rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.113rem 0.113rem 0.600rem;
    width: 85%;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 0.313rem 0.313rem  0.313rem  0.313rem ;
    border-radius: $border-radius ;
}

.input-login:focus {
    background-color: #fff;
    border-bottom: 0.125rem solid #5fbae9;
}

.input-login::placeholder {
    color: #cccccc;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.underlineHover:after {
    display: block;
    left: 0;
    bottom: -0.625rem;
    width: 0;
    height: 0.125rem;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after {
    width: 100%;
}

*:focus {
    outline: none;
}

.login-background-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.background-login-form {
    background: #E7EFFC;
    opacity: 0.9;
    border-radius: 10px;
}

.background-login-form .form-control {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
