header {
    z-index: 15;
}

.container-fluid {
    position: relative;
<<<<<<< HEAD

=======
>>>>>>> c1a0513c6e65513395d6c6d8b714efc2f752810f
}

.navbar-head{
    background-color: white;
<<<<<<< HEAD

=======
>>>>>>> c1a0513c6e65513395d6c6d8b714efc2f752810f
}

.nav-item {
    height: 40px;
<<<<<<< HEAD

=======
>>>>>>> c1a0513c6e65513395d6c6d8b714efc2f752810f
}

.btn.press {
    background-color: #4088ee;
    color: white;
    box-shadow: 0px 4px 4px #999;
}

@media screen and (max-width: 992px) {
    .image.world {
        display: none;
<<<<<<< HEAD
    }
    .hr-mobile {

        background-color: black;
=======
>>>>>>> c1a0513c6e65513395d6c6d8b714efc2f752810f
    }

}
@media screen and (min-width: 992px) {

    .sidebar-mobile {
     display: none;
    }

}
.image.world {
    height: 100px;
    position: absolute;
}
