
.nav-item {
    height: 40px;
}

.btn.press {
    background-color: #4088ee;
    color: white;
}

.offcanvas .offcanvas-body {
    padding: 50px;
}



@media screen and (max-width: 992px) {
    .image.world {
        display: none;
    }
    .offcanvas-body ul li {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .hr-mobile {
        background-color: black;
    }
}
@media screen and (min-width: 992px) {
    .sidebar-mobile {
        display: none;
    }
    .hr-mobile {
        display: none;
    }

}


.image.world {
    height: 100px;
    position: absolute;
}
