.profile-school-student-picture {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

.profile-school-students {
    background-color: $light;
    box-shadow: $box-shadow;
}

.profile-school-title {
    font-weight: bold;
    font-size: 1.25rem;
}

.profile-school-name {
    font-weight: bold;
}

@media screen and(min-width: 768px) {
    .profile-school-students {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .profile-school-student-picture {
        width: 8rem;
        height: 8rem;
        object-fit: cover;
    }
}
