@import 'variables';
$font-medium: 0.75rem;
$font-small: 0.7rem;

.profile-no-offer {
    margin-top: 10vh;
    transform: translateY(-50%);
}

.profile-informations {
    background-color: $light;
    border-radius: 7px;
    box-shadow: $box-shadow;
    max-width: 900px
}

.profile-banner {
    object-fit: cover;
    height: 20vh;
    width: 100%;
}

.profile-picture {
    position: relative;
    object-fit: cover;
    height: 10vh;
    top: -5vh;
    left: 5vw;
    border-radius: 7px;
}

.profile-localisation {
    margin-left: 5vw;
    display: flex;
    align-items: center;
}

.profile-city {
    border-radius: 7px;
    display: inline-block;
    padding: 7px;
    background-color: $black;
    color: $white;
    font-size: $font-medium;
}

.profile-title {
    display: flex;
    justify-content: space-between;
}

.profile-name {
    margin-right: 5vw;
    margin-top: 2vw;
    font-weight: bold;
}

.profile-presentation {
    margin: 0 5vw;
    font-size: $font-medium;
    
    >h3 {
        font-weight: bold;
    }
}

.profile-body {
    background-color: $profile;
}

.profile-offer {
    background-color: $light;
    box-shadow: $box-shadow;
    border-radius: 7px;
    padding: 7px;
    max-width: 700px;

    .profile-offer-head {
        >h4 {
            font-size: $font-medium;
            font-weight: bolder;
        }

        >p {
            text-align: center;
            font-size: $font-small;
        }
    }

    .profile-offer-text {
        width: 74vw;

        >p {
            font-size: $font-small;
            text-align: center;
        }

        >div {
            font-size: $font-medium;
        }
    }

    .profile-offer-bottom {
        .profile-offer-picture {
            width: 14vw;
            height: 14vw;
            border-radius: 7px;
        }

        >p {
            font-size: $font-medium;
        }
        }
    }

.profile-right {
    max-width: 700px;
    width: 100vw;
}

@media screen and(min-width: 768px) {

    .profile-picture {
        top: -7vh;
        left: 5rem;
        height: 14vh;
    }

    .profile-city {
        position: relative;
        top: -3vh
    }

    .profile-localisation {
        margin-left: 5rem;
    }

    .profile-presentation {
        margin-left: 5rem;
        margin-right: 5rem;
        font-size: 1rem;
    }

    .profile-offer {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .profile-offer-title.d-flex.align-items-center {
        font-size: 1rem;
    }

    .profile-offer-bottom {
        >img {
            max-width: 8vh;
            max-height: 8vh;
        }
    }

    .profile-offer-description.my-2.mt-md-3 {
        font-size: 0.8rem;
    }
}

@media screen and(min-width: 1200px) {
    .profile-right {
        max-width: 900px;
    }

    .profile-offer {
        max-width: 900px;
    }
}
