@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300&display=swap');
@import '_navbar.css';
@import '_form.scss';

body {
    margin:0;
    background-color: $wild-color;
    color: $light;
}
