@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300&display=swap');
@import 'variables.scss';
@import '~bootstrap/scss/bootstrap';
@import "~select2/src/scss/core";
@import "~select2-bootstrap-5-theme/src/select2-bootstrap-5-theme";
@import '_navbar.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '_home.css';
@import '_form.scss';
@import '_sidebar.scss';
@import '_search.scss';
@import '_profile.scss';
@import '_profile-school';
@import '~bootstrap/scss/bootstrap';
@import '_login.css';
@import '_searchCandidat.scss';
@import "_company-edit.scss";
@import "_student-edit.css";
@import '_offer-type.scss';
@import "_footer.css";
@import "_suivi.css";
@import "_curriculum.css";
@import "_cv.scss";
@import "_cv1.scss";
@import "_show-favorite";
@import "_applications.scss";
@import "_offer";


body {
    background-color: #d3d3d3;
    min-height: 100vh;
    font-family: 'Karla', sans-serif;
    margin-top: 40px;
    background: #E7EFFC;
}

.main-container {
    // marge du contenu principale: 350px car il y a le tableau de bord à gauche
    margin-left: 350px;
    margin-right: 50px;
    margin-top: 50px;
}
