{% block footer %}

<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
        <div class="text-center footer-back p-3"> Copyright &copy; {{ "now"|date('Y') }}
        <a class="text-dark" href="{{ path("home") }}">World Wide Job</a>
        <p> mentions légales | CGU | crédits | contact </p>
    </div>
    <!-- Copyright -->
</footer>

{% endblock %}
