{% block aside %}
    <div class="pt-3 sidebar-container position-fixed">


        <div class="img-logo "
             style="background-image: url(http://www.sorbonne.fr/wp-content/uploads/2013/10/paris3_niou.jpg);">
        </div>

        <ul class="list-unstyled list-inline nav-contain">
              <!-- décomenter le twig pour mettre en place les routes -->
              <!-- tableau dynamique -->
            {% set links = [
                {'title': 'Mon profil formation', 'path': '#'},
                {'title': 'Liste des étudiants', 'path': '#'},
                {'title': 'Suivie de mes étudiants', 'path': '#'},
                {'title': 'Mes cursus', 'path': '#'},
            ] %}
            {% for link in links %}
                <li class="text-decoration-none btn-primary
                 {# {{ app.request.pathinfo == path(link.path) ? 'activelink' }} #}">
                    <a class="text-decoration-none "
                       href="{# {{ path(link.path) }} #}">{{ link.title }}</a>
                </li>
            {% endfor %}


        </ul>

    </div>
{% endblock %}

