<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
		<link rel="stylesheet" href="/build/app.css">
		<script src="/build/app.js"></script>
		<title>
			{% block title %}{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>


		<div class="mt-5 form-container">

			<div class="d-flex flex-column mt-auto">
				<h1 class="justify-content-center m-auto mb-4"> {% block pageTitle %}{% endblock %}
					</h1>

					<ul class="d-flex  justify-content-center align-self-center flex-row etape-container "> {% block etapesblock %}{% endblock %}


						</ul>


					</div>
					<div class="background"> {% block form %}{% endblock %}


						</div>


					</div>

				</body>
			</html>
